# npmignore
dist/
typings/
node_modules/
tests/
npm-debug.log
.gitignore
gulpfile.js
todo.txt
tsconfig.json
typings.json
*.log

# Ignored files
*.ts
!*.d.ts
demo-form.png

*.tgz
.editorconfig
tslint.json
